.x-d-ib.blocks.x-vat.bg-2
    .x-d-ib.background-2
    .content.x-pa.x-fill-w.x-tac 
        .title
            #countTitle 活動尚未開始
            #countdown --
        .animate-blk
        .note-board.ellipsis --
        #buy-scroll-blk.ellipsis

.x-d-ib.blocks.x-vat.bg-1
    .x-d-ib.background-1
    .content.x-pa.x-fill-w.x-tac
        .title-2.x-d-ib
        #animate-block
            include ./rank-template.pug