.x-d-ib.blocks.x-vat.bg-2
    .x-d-ib.background-2
    .content.x-pa.x-fill-w.x-tac 
        .title
            | 距離活動結束還有
            div XX:XX:XX
        .animate-blk
        .note-board XXX獲得了2萬浪花，太幸運了
        #buy-scroll-blk.ellipsis

.x-d-ib.blocks.x-vat.bg-1
    .x-d-ib.background-1
    .content.x-pa.x-fill-w.x-tac
        .title-2.x-d-ib
        #animate-block.animate
            include ./rank-template.pug