.rank-detail.x-d-ib
    .arrow-up.x-d-ib.x-vam.mr-15
    .rank.x-d-ib.x-vam.mr-15 #{rank}
    .default-avatar-sm.x-d-ib.x-vam
    .detail.x-d-ib.x-vam
        div 主播暱稱
        .sub-txt 主播ID
        .sub-txt xxx,xxx浪潮