@import './sprite.scss';

@mixin customer-bar($color: rgba(242,242,242,0), $height: 4px) {
    &::-webkit-scrollbar{
        width: px(4);
        height: $height;
    }

    /* 设置滚动条的滑轨 */
    &::-webkit-scrollbar-track {
        background-color: rgba(242,242,242,0);
    }

    /* 滑块 */
    &::-webkit-scrollbar-thumb {
        background-color: $color;
        border-radius: px(4);
    }

    /* 滑轨两头的监听按钮 */
    &::-webkit-scrollbar-button {
        background-color: #ddd;
        display: none;
    }
}

body {
    margin: 0;
    background: linear-gradient(to bottom right, #363237, #251e26);;
    @include customer-bar(transparent, 0);
}

#root {
    display: flex;
    align-items: center;
    text-align: center;
    width: 1310px;
    height: 1080px;
    background-image: url('../images/body-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.x-d-ib {
    display: inline-block;
}

.x-pa {
    position: absolute;
}

.x-pr {
    position: relative;
}

.x-vam {
    vertical-align: middle;
}

.x-vat {
    vertical-align: top;
}

.x-fill-w {
    width: 100%;
}

.align-center {
    margin: 0 auto;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.x-br-50 {
    border-radius: 50%;
}

.x-vh {
    visibility: hidden;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
        transform: translateX(10%);
    } 
    100% { 
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleYAnimate {
    0% { 
        transform: scaleY(0);
    } 
    100% { 
        transform: scaleY(1);
    }
}

@keyframes flip {
    0% { 
        transform: translateX(-50%) rotateY(0);
    } 
    50% {
        transform: translateX(-50%) rotateY(180deg);
    }
    100% { 
        transform: translateX(-50%);
    }
}

.blocks {
    box-sizing: border-box;
    position: relative;
    &.bg-1 {
        margin-left: 23px;
        @include sprite-width($background-1);
        .content {
            left: 0;
            top: 0;
            padding: 28px 18px 0;
            width: calc(100% - 36px);

            #animate-block.animate {
                animation-name: fadeIn;
                animation-duration: 1s;
            }
    
            .title-2 {
                margin-bottom: 8px;
            }

            .top-3-block {
                margin-bottom: 10px;
                .top-rank-item {
                    width: 200px;
                    padding-top: 25px;
                    vertical-align: top;
                    &.with-mar {
                        margin-top: 60px;
                    }
    
                    &:nth-child(2) {
                        margin: 0 -40px;
                    }
    
                    .crown-ico {
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        animation-name: flip;
                        animation-duration: 0.5s;
                        animation-iteration-count: 2;
                    }
    
                    .no-blk {
                        display: flex;
                        align-items: center;
                        left: -50px;
                        top: 10px;
                        .x-d-ib {
                            margin-right: 5px;
                        }
     
                        &.right {
                            left: auto;
                            right: -60px;
                        }
                    }
    
                    .name {
                        font-size: 30px;
                        line-height: 40px;
                        color: #ffd472;
                        max-width: 200px;
                        .sub {
                            font-size: 20px;
                            line-height: 20px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .rank-row {
                padding: 0 28px;
                height: 85px;
                background-color: #7c5c33;
                &:nth-child(2n) {
                    background-color: #6a4f2c;
                }

                .rank-detail {
                    width: 50%;
                    margin-top: 4px;
                    color: #ffdfa6;
                    text-align: left;

                    .rank {
                        font-size: 26px;
                    }

                    .mr-15 {
                        margin-right: 15px;
                    }

                    .detail {
                        margin-left: 10px;
                        max-width: 145px;
                    }

                    .sub-txt {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &.bg-2 {
        .content {
            top: 335px;
            color: #fff;
            .title {
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 15px;
                text-shadow: 2px 2px rgba(255, 217, 67, 0.6);
                min-height: 80px;
            }
            .animate-blk {
                height: 190px;
                background-color: rgba(255, 255, 255, 0.9);
                margin: 0 46px;
                img {
                    width: 240px;
                }
            }
            .note-board {
                font-size: 40px;
                height: 60px;
                line-height: 60px;
                margin: 0 55px 25px;
            }
            #buy-scroll-blk {
                height: 275px;
                max-height: 275px;
                margin: 0 65px 0 85px;
                text-align: left;
                font-size: 20px;
                overflow-y: auto;
                word-break: break-all;
                white-space: pre-wrap;
                @include customer-bar();

                .scale-out {
                    // animation-duration: 0.2s;
                    // animation-timing-function: linear;
                    // animation: fadeIn;
                    // animation-delay: 0.5s;
                    transition: 0.2s all;
                    transform: scaleY(0);
                    transform-origin: top;
                }
            }
        }
    }
}

@keyframes bigger {
    0% {
        font-size: 12px
    }

    100% {
        font-size: 200px; 
    }
}

.preload {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    &.hide {
        display: none;
    }

    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -70%);
        color: #fff; 
        font-size: 300px;
        &.animate {
            animation-name: bigger;
            animation-duration: 0.5s;
            animation-timing-function: linear;
        }
    }
}


@include sprites(
    ($background-1, 
    $background-2, 
    $title-2, 
    $default-avatar, 
    $default-avatar-sm, 
    $arrow-up, 
    $arrow-down, 
    $arrow-even, 
    $crown-1, 
    $crown-2, 
    $crown-3,
    $top-1,
    $top-2,
    $top-3)
);